* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif; }

html {
  scroll-behavior: smooth; }

li {
  list-style: none; }
  li:hover {
    cursor: pointer; }

a {
  text-decoration: none;
  color: rgba(61, 61, 61, 0.69); }

button {
  border: none;
  background-color: #80ed99;
  color: #000;
  width: 30%;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2); }
  button:hover {
    background-color: #57cc99;
    color: rgba(61, 61, 61, 0.69); }

.add-carrito,
.btn-iva,
.btn-confirm,
#form-button,
.btn-back {
  width: 40%;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: linear-gradient(0deg, #80ed99 0%, #57cc99 100%);
  line-height: 42px;
  padding: 0;
  border: none; }
  .add-carrito span,
  .btn-iva span,
  .btn-confirm span,
  #form-button span,
  .btn-back span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%; }
  .add-carrito:before, .add-carrito:after,
  .btn-iva:before,
  .btn-iva:after,
  .btn-confirm:before,
  .btn-confirm:after,
  #form-button:before,
  #form-button:after,
  .btn-back:before,
  .btn-back:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #57cc99;
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease; }
  .add-carrito:before,
  .btn-iva:before,
  .btn-confirm:before,
  #form-button:before,
  .btn-back:before {
    height: 0%;
    width: 2px; }
  .add-carrito:after,
  .btn-iva:after,
  .btn-confirm:after,
  #form-button:after,
  .btn-back:after {
    width: 0%;
    height: 2px; }
  .add-carrito:hover,
  .btn-iva:hover,
  .btn-confirm:hover,
  #form-button:hover,
  .btn-back:hover {
    color: #57cc99;
    background: transparent; }
  .add-carrito:hover:before,
  .btn-iva:hover:before,
  .btn-confirm:hover:before,
  #form-button:hover:before,
  .btn-back:hover:before {
    height: 100%; }
  .add-carrito:hover:after,
  .btn-iva:hover:after,
  .btn-confirm:hover:after,
  #form-button:hover:after,
  .btn-back:hover:after {
    width: 100%; }
  .add-carrito span:before,
  .add-carrito span:after,
  .btn-iva span:before,
  .btn-iva span:after,
  .btn-confirm span:before,
  .btn-confirm span:after,
  #form-button span:before,
  #form-button span:after,
  .btn-back span:before,
  .btn-back span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #57cc99;
    box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9), -4px -4px 5px 0px rgba(255, 255, 255, 0.9), 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease; }
  .add-carrito span:before,
  .btn-iva span:before,
  .btn-confirm span:before,
  #form-button span:before,
  .btn-back span:before {
    width: 2px;
    height: 0%; }
  .add-carrito span:after,
  .btn-iva span:after,
  .btn-confirm span:after,
  #form-button span:after,
  .btn-back span:after {
    height: 2px;
    width: 0%; }
  .add-carrito span:hover:before,
  .btn-iva span:hover:before,
  .btn-confirm span:hover:before,
  #form-button span:hover:before,
  .btn-back span:hover:before {
    height: 100%; }
  .add-carrito span:hover:after,
  .btn-iva span:hover:after,
  .btn-confirm span:hover:after,
  #form-button span:hover:after,
  .btn-back span:hover:after {
    width: 100%; }

header {
  width: 100%;
  height: 75px;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
  display: flex;
  align-items: center;
  z-index: 99; }
  @media (max-width: 950px) {
    header {
      justify-content: space-around; } }
  header .nav-responsive {
    margin: 0 20px;
    display: none;
    color: #57cc99;
    font-size: 19px; }
    header .nav-responsive:hover {
      cursor: pointer;
      color: #80ed99; }
    @media (max-width: 950px) {
      header .nav-responsive {
        display: block; } }
  header .logo {
    margin-left: 70px; }
    header .logo a {
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      color: #80ed99;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: 0.5s;
      letter-spacing: 4px; }
      header .logo a span {
        position: absolute;
        display: block; }
        header .logo a span:nth-child(1) {
          top: 0;
          left: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, transparent, #80ed99);
          animation: btn-anim1 1s linear infinite; }
@keyframes btn-anim1 {
  0% {
    left: -100%; }
  50%,
          100% {
    left: 100%; } }
        header .logo a span:nth-child(2) {
          top: -100%;
          right: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(180deg, transparent, #80ed99);
          animation: btn-anim2 1s linear infinite;
          animation-delay: 0.25s; }
@keyframes btn-anim2 {
  0% {
    top: -100%; }
  50%,
          100% {
    top: 100%; } }
        header .logo a span:nth-child(3) {
          bottom: 0;
          right: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(270deg, transparent, #80ed99);
          animation: btn-anim3 1s linear infinite;
          animation-delay: 0.5s; }
@keyframes btn-anim3 {
  0% {
    right: -100%; }
  50%,
          100% {
    right: 100%; } }
        header .logo a span:nth-child(4) {
          bottom: -100%;
          left: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(360deg, transparent, #80ed99);
          animation: btn-anim4 1s linear infinite;
          animation-delay: 0.75s; }
@keyframes btn-anim4 {
  0% {
    bottom: -100%; }
  50%,
          100% {
    bottom: 100%; } }
  header #show-carrito {
    width: 75%;
    margin-right: 93px;
    height: 39px;
    background-color: #80ed9973;
    position: relative; }
    header #show-carrito .fa-shopping-cart {
      font-size: 19px;
      color: #57cc99; }
    header #show-carrito span {
      margin: 0px;
      position: absolute;
      color: #57cc99;
      font-weight: 700;
      font-size: 15px;
      top: 0px; }
    header #show-carrito:hover span,
    header #show-carrito:hover .fa-shopping-cart {
      color: #141414; }
  header .nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    transition: 0.2s; }
    @media (max-width: 950px) {
      header .nav-header {
        flex-direction: column;
        position: absolute;
        width: 0;
        transform: translateX(-500px);
        top: 75px;
        left: 0px; }
        header .nav-header.nav-active {
          transform: translateX(0px);
          height: 164px;
          background-color: white;
          width: 17%;
          padding: 20px 13px; } }
    header .nav-header .close-nav {
      display: none;
      color: #57cc99; }
      @media (max-width: 950px) {
        header .nav-header .close-nav {
          display: block;
          position: absolute;
          top: 0;
          right: 6px;
          cursor: pointer;
          font-weight: 800; }
          header .nav-header .close-nav:hover {
            color: #80ed9973; } }
    header .nav-header .list-item {
      transition: all 0.3s ease 0s;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      color: #000;
      letter-spacing: 0.1rem;
      transition: all 0.5s ease;
      font-size: 0.8rem;
      height: 42px;
      border-radius: 10px;
      padding: 12px; }
      header .nav-header .list-item.active {
        background: #80ed9973;
        border-radius: 10px; }
      header .nav-header .list-item:hover {
        color: white;
        background: #80ed9973;
        transition: all 0.5s ease;
        border-radius: 10px; }
      header .nav-header .list-item a {
        transition: 0.2s;
        font-weight: 600;
        font-size: 15px; }
  header #container-carrito {
    width: 19%;
    height: 358px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background: #f1f1f1;
    overflow-y: scroll;
    position: absolute;
    display: none;
    top: 60px;
    right: 0;
    background-color: #77c282bf;
    padding: 13px 11px;
    margin: 15px 0px; }
    @media (max-width: 1180px) {
      header #container-carrito {
        width: 23%; } }
    @media (max-width: 950px) {
      header #container-carrito {
        width: 25%; } }
    @media (max-width: 800px) {
      header #container-carrito {
        width: 33%; } }
    @media (max-width: 58px) {
      header #container-carrito {
        width: 40%; } }
    header #container-carrito #carrito {
      height: auto; }
      header #container-carrito #carrito .carrito .service-carrito h4 {
        font-size: 13px; }
      header #container-carrito #carrito .carrito .service-carrito span {
        font-size: 12px; }
      header #container-carrito #carrito .carrito .service-carrito .fa-trash-alt {
        font-size: 13px; }
        header #container-carrito #carrito .carrito .service-carrito .fa-trash-alt:hover {
          cursor: pointer;
          color: #18f092; }
      header #container-carrito #carrito .carrito .service-carrito button {
        width: 13%;
        margin-right: 0; }
      header #container-carrito #carrito #container-total {
        margin-top: 30px; }
        header #container-carrito #carrito #container-total h4 {
          font-size: 13px; }
        header #container-carrito #carrito #container-total button {
          width: 70%; }
      header #container-carrito #carrito .btns-carrito {
        text-align: center; }
        header #container-carrito #carrito .btns-carrito .btn-confirm {
          font-size: 13px;
          width: 90%;
          margin-top: 15px; }
          header #container-carrito #carrito .btns-carrito .btn-confirm a {
            color: #fff; }
          header #container-carrito #carrito .btns-carrito .btn-confirm:hover a {
            color: #2fb1cd; }

h2 {
  font-size: 35px;
  text-align: center; }

#main {
  width: 100%;
  display: flex;
  align-items: center; }
  #main .img-main {
    background-image: url("../img/Blog_12-1024x683.jpg");
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px) grayscale(1);
    background-attachment: fixed; }
  #main #container-main {
    line-height: 2;
    color: white;
    font-size: 17px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    min-height: 100vh;
    font-family: "Josefin Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 5rem; }
    #main #container-main h3 {
      font-size: 60px;
      color: #0aa15f; }
    #main #container-main #target {
      font-size: 60px;
      display: flex;
      width: 338px;
      text-align: left;
      animation: color 30s alternate infinite;
      perspective: 200px;
      transform: translateX(26px); }
    @media (max-width: 630px) {
      #main #container-main h3,
      #main #container-main #target {
        font-size: 40px; } }
    #main #container-main .word {
      position: absolute; }
@keyframes color {
  0% {
    color: #18f092; }
  50% {
    color: #094d2f; }
  100% {
    color: #18f092; } }
    #main #container-main .letter {
      transform: translateZ(200px); }
@keyframes anim {
  25% {
    transform: translateZ(0px);
    opacity: 1; }
  32% {
    opacity: 0;
    transform: translateZ(-280px) translateX(200px); } }
    #main #container-main #title-main {
      font-size: 54px;
      color: #0aa15f; }

#services {
  background-color: #141414eb;
  padding: 88px 0; }
  #services .info-services {
    text-align: center;
    width: 40%;
    margin: 0 auto;
    line-height: 2; }
    @media (max-width: 950px) {
      #services .info-services {
        width: 70%; } }
    #services .info-services h2 {
      color: #0aa15f;
      letter-spacing: 0.1rem; }
    #services .info-services p {
      color: #fff; }
  #services .container-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    #services .container-services .mostrarArriba {
      animation: mostrarArriba 1s ease-in-out; }
    #services .container-services .card-service {
      margin: 13px 30px;
      width: 14%;
      height: 250px;
      transition: 0.2s;
      padding: 0 16px;
      opacity: 0;
      transition: all 1s;
      border-radius: 10px; }
      @media (max-width: 950px) {
        #services .container-services .card-service {
          width: 22%;
          margin: 0 20px; } }
      @media (max-width: 800px) {
        #services .container-services .card-service {
          width: 30%; } }
      #services .container-services .card-service h4 {
        color: #0aa15f;
        padding: 20px 0; }
      #services .container-services .card-service span {
        color: #0aa15f;
        letter-spacing: 0.1rem; }
      #services .container-services .card-service:hover {
        transform: translateY(-17px); }
      #services .container-services .card-service p {
        color: #777;
        padding-bottom: 30px;
        font-size: 13px; }
      #services .container-services .card-service span {
        transition: all 0.3s ease 0s;
        font-size: 15px; }

.section-img {
  background-image: url("../img/computer.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 450px; }

#prices {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-direction: column;
  padding: 65px 0;
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
  background-color: #f0eaea; }
  #prices h2 {
    color: #0aa15f;
    letter-spacing: 0.1rem; }
  #prices .container-services-add {
    display: flex;
    flex-wrap: wrap;
    line-height: 2;
    justify-content: center; }
    #prices .container-services-add .service {
      margin: 34px 25px;
      display: flex;
      flex-direction: column;
      width: 20%; }
      @media (max-width: 950px) {
        #prices .container-services-add .service {
          margin: 34px 15px; } }
      @media (max-width: 800px) {
        #prices .container-services-add .service {
          width: 25%; } }
      @media (max-width: 700px) {
        #prices .container-services-add .service {
          width: 35%; } }
      #prices .container-services-add .service .add-carrito {
        margin-top: 10px; }
        #prices .container-services-add .service .add-carrito .cart-item {
          position: absolute;
          height: 24px;
          width: 24px;
          top: -10px;
          right: -10px; }
          #prices .container-services-add .service .add-carrito .cart-item:before {
            display: block;
            line-height: 24px;
            height: 24px;
            width: 24px;
            font-size: 12px;
            font-weight: 600;
            background: #80ed99;
            color: white;
            border-radius: 20px;
            text-align: center; }
        #prices .container-services-add .service .add-carrito.sendtocart .cart-item {
          display: block;
          animation: xAxis 1s forwards cubic-bezier(1, 0.44, 0.84, 0.165); }
          #prices .container-services-add .service .add-carrito.sendtocart .cart-item:before {
            animation: yAxis 1s alternate forwards cubic-bezier(0.165, 0.84, 0.44, 1); }
@keyframes xAxis {
  100% {
    transform: translateX(calc(50vw - 105px)); } }
@keyframes yAxis {
  100% {
    transform: translateY(calc(-50vh + 75px)); } }
#container-form {
  padding: 65px 0;
  background-color: #fff; }
  #container-form h2 {
    color: #0aa15f;
    letter-spacing: 0.1rem; }
  #container-form .container {
    justify-content: space-evenly;
    display: flex; }
    @media (max-width: 800px) {
      #container-form .container {
        flex-direction: column;
        align-items: center; } }
    #container-form .container .form-datos {
      line-height: 4;
      padding: 40px; }
      #container-form .container .form-datos .icon-container {
        display: flex;
        align-items: center; }
        #container-form .container .form-datos .icon-container .icon {
          width: 2.5em;
          height: 2.5em;
          line-height: 2.5em;
          text-align: center;
          font-size: 16px;
          border-radius: 50%;
          background-color: #0aa15f;
          margin-right: 8px; }
          #container-form .container .form-datos .icon-container .icon i {
            color: #80ed99; }
    #container-form .container .login-box {
      width: 45%;
      padding: 40px;
      box-sizing: border-box;
      border-radius: 10px; }
      @media (max-width: 800px) {
        #container-form .container .login-box {
          width: 70%; } }
      #container-form .container .login-box form {
        text-align: center; }
        #container-form .container .login-box form .user-box {
          position: relative; }
          #container-form .container .login-box form .user-box input,
          #container-form .container .login-box form .user-box textarea {
            height: 27px;
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #0aa15f;
            outline: none;
            background: transparent; }
          #container-form .container .login-box form .user-box textarea {
            height: 100px; }
          #container-form .container .login-box form .user-box label,
          #container-form .container .login-box form .user-box legend {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            pointer-events: none;
            transition: 0.5s; }
          #container-form .container .login-box form .user-box input:focus ~ label,
          #container-form .container .login-box form .user-box input:valid ~ label,
          #container-form .container .login-box form .user-box textarea:focus ~ legend,
          #container-form .container .login-box form .user-box textarea:valid ~ legend {
            top: -20px;
            left: 0;
            color: #0aa15f;
            font-size: 12px; }

#footer {
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #141414;
  color: #e3e3e3; }
  #footer a {
    color: #0aa15f;
    transition: 0.2s; }
    #footer a:hover {
      color: #80ed9973; }

@keyframes mostrarArriba {
  0% {
    transform: translateY(80px); }
  50% {
    transform: translateY(-10px); }
  100% {
    transform: translateY(0); } }
.container-page-pago .btn-back {
  z-index: 99; }
.container-page-pago .container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  position: relative; }
  @media (max-width: 950px) {
    .container-page-pago .container {
      flex-direction: column;
      align-items: center; } }
  .container-page-pago .container .skewed {
    position: absolute;
    top: -6px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 90%;
    height: 84%;
    background: #80ed9973;
    margin: 0 auto;
    transform-origin: top right; }
    @media (max-width: 950px) {
      .container-page-pago .container .skewed {
        height: 100%; } }
  .container-page-pago .container .carrito-pago {
    z-index: 99;
    width: 45%;
    margin-top: 15px; }
    .container-page-pago .container .carrito-pago .fa-hashtag {
      color: #0aa15f; }
    @media (max-width: 950px) {
      .container-page-pago .container .carrito-pago {
        margin-bottom: 90px;
        width: 80%; } }
    .container-page-pago .container .carrito-pago div {
      display: flex;
      justify-content: space-around; }
      .container-page-pago .container .carrito-pago div h4 {
        width: 45%; }
    .container-page-pago .container .carrito-pago hr {
      margin-top: 15px; }
    .container-page-pago .container .carrito-pago .carrito-total {
      margin-top: 30px;
      font-weight: 600; }
  .container-page-pago .container .login-box {
    width: 45%;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 99; }
    @media (max-width: 715px) {
      .container-page-pago .container .login-box {
        width: 80%; } }
    .container-page-pago .container .login-box form {
      margin: 35px auto;
      width: 80%;
      text-align: center; }
      .container-page-pago .container .login-box form .user-box {
        position: relative; }
        .container-page-pago .container .login-box form .user-box input {
          height: 20px;
          width: 100%;
          padding: 10px 0;
          font-size: 16px;
          margin-bottom: 30px;
          border: none;
          border-bottom: 1px solid #0aa15f;
          outline: none;
          background: transparent; }
        .container-page-pago .container .login-box form .user-box label {
          position: absolute;
          top: 0;
          left: 0;
          padding: 10px 0;
          font-size: 16px;
          pointer-events: none;
          transition: 0.5s; }
        .container-page-pago .container .login-box form .user-box input:focus ~ label,
        .container-page-pago .container .login-box form .user-box input:valid ~ label {
          top: -20px;
          left: 0;
          color: #0aa15f;
          font-size: 12px; }
      .container-page-pago .container .login-box form .custom-btn {
        width: 40%;
        height: 40px;
        color: #000;
        border-radius: 5px;
        font-size: 18px;
        font-family: "Lato", sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
        outline: none;
        border: none;
        background: linear-gradient(0deg, #80ed99 0%, #57cc99 100%);
        overflow: hidden; }
        .container-page-pago .container .login-box form .custom-btn:hover {
          text-decoration: none;
          color: #fff;
          opacity: 0.7; }
        .container-page-pago .container .login-box form .custom-btn:before {
          position: absolute;
          content: "";
          display: inline-block;
          top: -180px;
          left: 0;
          width: 30px;
          height: 100%;
          background-color: #fff;
          animation: shiny-btn1 3s ease-in-out infinite; }
        .container-page-pago .container .login-box form .custom-btn:active {
          box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3), -4px -4px 6px 0 rgba(116, 125, 136, 0.2), inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2), inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2); }
@keyframes shiny-btn1 {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0; }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5; }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1; }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0; } }
.container-page-pago .btn-back {
  width: 10%;
  margin: 30px 0 0 95px;
  font-size: 13px; }
  .container-page-pago .btn-back a {
    color: #fff; }
  .container-page-pago .btn-back:hover a {
    color: #57cc99;
    background: transparent; }

.container-confirm {
  min-height: 100vh; }
  .container-confirm .text {
    text-align: center;
    margin-top: 80px;
    color: #0aa15f;
    font-size: 1.5em;
    text-transform: uppercase; }
  .container-confirm .animated {
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite; }
@keyframes rubberBand {
  0% {
    transform: scale(1); }
  30% {
    transform: scaleX(1.25) scaleY(0.75); }
  40% {
    transform: scaleX(0.75) scaleY(1.25); }
  60% {
    transform: scaleX(1.15) scaleY(0.85); }
  100% {
    transform: scale(1); } }
  .container-confirm .rubberBand {
    animation-name: rubberBand; }
  .container-confirm .btn-back {
    width: 10%;
    margin: 30px 0 0 95px;
    font-size: 13px;
    z-index: 99; }
    .container-confirm .btn-back a {
      color: #fff; }
    .container-confirm .btn-back:hover a {
      color: #57cc99;
      background: transparent; }
  .container-confirm div {
    margin: 60px auto;
    width: 50%;
    line-height: 2;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
